<div class="nested-fields certificate-item nested-child">
  <div class="row">
    <%= f.hidden_field :owner_type, value: Spree::Product %>
    <%= f.hidden_field :owner_id, value: @product.id %>
    <%= f.hidden_field :user_id, value: (try_spree_current_user.try(:id) || @product.user_id) %>

    <div class="col-md-6">
      <div data-hook="name-field">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: "full-width" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <% if f.object.attachment.exists? %>
        <% cert_obj = f.object %>
        <div class="download-file field">
          <%= link_to cert_obj.attachment.url(:original, false) do %>
            <%= f.label :attachment %>
            <h6><%= cert_obj.attachment_file_name %></h6>
          <% end %>
        </div>
      <% else %>
        <div data-hook="attachment-field" class="field">
          <%= f.label :attachment %>
          <%= f.file_field :attachment, accept: 'application/pdf', class: "full-width" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-1">
      <div class="field">
        <%= f.label :position %>
        <%= f.number_field :position, class: 'full-width', min: 0, value: f.object.position || 0 %>
      </div>
    </div>

    <%= link_to_remove_association "X", f, class: 'button remove' %>
  </div>
</div>
<div class="clearfix"></div>
