<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Certificates"} %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% admin_breadcrumb(Spree.t(:certificates)) %>

<div class="product-certificate-form-wrapper" data-hook="product-certificate-creation">
  <%= form_for @product, url: admin_product_certificates_path(product_id: @product.id), method: :post do |f| %>
    <fieldset class="no-border-top no-border-bottom">
      <div class="certificates-items">
        <%= f.fields_for :certificates do |certificates_field| %>
          <%= render :partial => 'spree/admin/certificates/certificates_field', :locals => {
            :f => certificates_field, :parent_object => f.object } %>
        <% end %>
      </div>

      <div class="links certificates-links">
        <%= link_to_add_association 'Add Certificate', f, :certificates,
          partial: 'spree/admin/certificates/certificates_field', class: 'button',
          'data-association-insertion-node': '.certificates-items' %>
      </div>

      <div class="form-buttons actions" data-hook="buttons">
        <%= button Spree.t('actions.submit') %>
      </div>
    </fieldset>
  <% end %>
</div>
