<div id="product-certificate" data-hook="product_certificate">
  <% if @product.certificates.any? %>
    <% @product.certificates.each do |certificate| %>
      <%= link_to certificate.attachment.url(:original, false), target:"_blank" do %>
        <button class="large primary"><%= certificate.name.titleize %></button>
      <% end if certificate.attachment.exists? %>
    <% end %>
  <% end %>
</div>
