<%= content_tag :li, :class => ('active' if current == 'Certificates') do %>
  <%= link_to Spree.t(:certificates), spree.admin_product_certificates_path(product_id: @product.id) %>
<% end if can?(:admin, Spree::Product) %>
